body {
  margin:0;
  padding:0;
  position:relative;
  overflow-x:hidden;
  background:#ffcdb2;
  color:#6d6875;
  font-family:"Hanson";
  font-weight:bold;
}
#intro {
  width:100vw;
  height:100vh;
}
.a {
  width:100vw;
  font-size:1.8em;
  position:fixed;
  top:40vh;
  text-align:center;
  z-index:-1;
}
#parallax {
  width:100vw;
  height:100vh;
  padding:0;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow-x:hidden;
}
.prlxup {
  position:absolute;
  bottom:40vh;
  right:100vw;
  padding:0;
  margin:-0.3em;
  white-space:nowrap;
  font-size:3em;
  z-index:0;
}
.prlxdown {
  position:absolute;
  top:60vh;
  left:100vw;
  padding:0;
  margin:-0.3em;
  white-space:nowrap;
  font-size:3em;
  z-index:0;
}
.prlxupoutline {
  position:absolute;
  bottom:40vh;
  right:100vw;
  padding:0;
  margin:-0.3em;
  white-space:nowrap;
  font-size:3em;
  color:transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6d6875;
  z-index:2;
}
.prlxdownoutline {
  position:absolute;
  top:60vh;
  left:100vw;
  padding:0;
  margin:-0.3em;
  white-space:nowrap;
  font-size:3em;
  color:transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6d6875;
  z-index:2;
}
#img1 {
  width:15em;
  height:15em;
  background-image:url("assets/estecy.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  box-shadow: inset 0 0 0 50vw rgba(229,152,155,0.5);
  z-index:1;
}
#boo {
  width:100vw;
  height:50vh;
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  overflow-x:hidden;
  overflow-y:auto;
  position:relative;
  padding:0;
}
#boosolid {
  width:50%;
  height:95%;
  display:flex;
  flex-flow:column wrap;
  align-content:center;
  justify-content:flex-start;
  margin:0;
  z-index:0;
}
#boooutline {
  width:50%;
  height:95%;
  display:flex;
  flex-flow:column wrap;
  align-content:center;
  justify-content:flex-end;
  margin:0;
  z-index:2;
}
.one,.two,.three,.four,.five {
  padding:0;
  margin:-0.3em;
  font-size:3em;
  opacity:0;
}
.oneoutline,.twooutline,.threeoutline,.fouroutline,.fiveoutline {
  padding:0;
  margin:-0.3em;
  font-size:3em;
  color:transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6d6875;
  opacity:0;
}
#img2 {
  position:absolute;
  top:12%;
  bottom:12%;
  right:25%;
  left:25%;
  width:50%;
  height:76%;
  background-image:url("assets/bonag.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
  z-index:1;
  box-shadow: inset 0 0 0 50vw rgba(181,131,141,0.5);
}
#gift {
  width:100vw;
  height:100vh;
  overflow-x:hidden;
  text-align:center;
  opacity:0;
}
#want {
  margin-top:45vh;
}
#yesure {
  margin-bottom:45vh;
  color:#ffcdb2;
  text-decoration:none;
  background:#6d6875;
  padding:0.8125em 2em;
  width:25em;
  border-radius:1.5625em;
}
/* wkwkwjsjajsjsjsjajajajsjajajajajajajdmdkdndmdmdkdndmdmdjdjfjfmfmdmmfkfsjwjwjjwjjjwjjajajsjsjsjsjajsjsksjsjsjajajajajajaj*/
@font-face {
  font-family:"Sequel";
  src:url("assets/Sequel100Black-85.ttf") format("truetype");
}
@font-face {
  font-family:"Circular";
  src:url("assets/CircularStd-Bold.ttf") format("truetype");
}
@font-face {
  font-family:"Hanson";
  src:url("assets/Hanson Bold.ttf") format("truetype");
}

/* laptop styles */

@media screen and (min-width:960px) {
    body {
        font-size:18px;
    }
    .prlxup,.prlxupoutline {
        bottom:48vh;
    }
    .prlxdown,.prlxdownoutline {
        top:52vh;
    }
}

/* desktop styles */

@media screen and (min-width:1200px) {
    body {
        font-size:20px;
        max-width:1200px;
    }
}
